/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts
$font-main: 'Roboto', sans-serif;

// Colors
$white: #fff;
$black: #0c0c0c;
$black-01: #23201e;
$green: #00bd71;
$green-01: #12c67a;
$orange: #ffbc10;
$gray: #d5dee7;
$gray-1: #f2f6f9;

// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints


