.add-item-list-title {
    font-size: 2rem;
    text-transform: uppercase;
	font-weight: 900;
    color: $orange;
    margin: 1rem 0;
}

.add-item-list {
    background-color: $white;
    border-radius: 1.6rem;
    padding: 1.5rem;
}