/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
html, body {
    font-family: $font-main;
    height: 100%;
	background-color: $black-01;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $font-main;
	color: $black;
}

input {
	border: none;
}

.main-title {
    font-size: 5.4rem;
    text-align: center;
    text-transform: uppercase;
	font-weight: 900;
    color: $orange;
	margin: 3rem 0;
}